<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aoedb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.AdvancedSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BuildingListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TechnologyListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DamageCalculatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CivilizationListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TechTreeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.NewQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScoreActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CivilizationViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitTabbedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TechnologyTabbedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoadingTechTreeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.LoadingAppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BuildingTabbedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GameMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GatheringRatesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BuildingMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RepairingMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FarmMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TradeMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DamageFormulaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StatsDefinitionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GarrisonMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConversionMechanicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TechTreeQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CivilizationQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitStatsQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TechnologyStatsQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitRecognitionQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UniqueTechnologiesQuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CheatCodesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TauntActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HistoryListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HistoryViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EconomyCalculatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MiscActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ToolsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitComparatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TestActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>